.section-about {
  //position: relative;
}

.section-about-text {
  text-align: center;
  max-width: 570px;
}

.section-about .section-about-slideshow {
  content: '';
  display: block;

  max-height: 400px;
  width: 100%;

  overflow: hidden;

  //position: absolute;
  //bottom: 0;
}

.section-about .section-about-slideshow img {
  width: 100%;
  height: 100%;
}

.section-about .button {
  margin-top: 15px;
}

.section-about .section-button {
  margin-bottom: 60px;
}

// - - - - MÉDIAS - - - -

@media screen and (max-width: $vw-tablet) {

  .section-about-text {
    width: auto;
  }

  .section-about .section-about-slideshow {
    //position: static;
  }



}

@media screen and (max-width: $vw-phone) {


}