section.section-reservation {
  //height: 100vh;

  margin: 60px 0;

  overflow: hidden;

  //background: url("../img/header.jpg");
  background-color: $black;

  color: $black;

  display: flex;
  justify-content: center;
  align-items: center;


  height: 100vh

}

.content-reservation{
  width: 710px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;


  background-color: $white;

  height: calc(100% - 240px);

  margin: 120px 0;
  padding: 60px;
}




.content-reservation > h2 {
  margin: 0;
}

.content-reservation > h2:after {
  margin: 45px auto;
}




.content-reservation > p{
  margin: 0;
  text-align: center;
  line-height: 3;
}


.content-reservation > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.content-reservation > div > p{
  margin: 0 0 45px 0;
  text-align: center;
}

.content-reservation > div > a{
  text-align: center;
}



.content-reservation > p:first-of-type:after{
  content: "";
  height: 1px;
  background-color: $grey;
  margin: 45px auto;
  display: block;
}


.content-reservation > p > span{
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
}

.content-reservation > p > br{
  display: block;
  margin: 15px 0 30px 0;
}




// - - - - MÉDIAS - - - -

@media screen and (max-width: $vw-tablet) {

  section.section-reservation {
    height: auto;
  }

}

@media screen and (max-width: $vw-phone) {

  section.section-reservation {
    height: auto;
  }
}
