////FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR


//// Couleur de base
$white: #f6f5f2;
$black: #1b2027;

////Couleur projet spécifique
$light-black: #404347;
$grey: #b6b6b6;
$light-grey: #e7e7e7;
$yellow: #e8af59;
$red: #9d253e;