////FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

///// Dimension
$max-width: 1280px;
$small-text-width: 570px;
$page-padding: 30px;
$phone-page-padding: 10px;
//$phone-padding-bottom: 30px;
//$phone-padding-side: 15px;


///// Viewports sizes
///// Dimension pour les media query

$vw-phone: 640px;
$vw-tablet: 1024px;
//$vw-middle: 1200px;
//$vw-large: $max-width;

