////FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE
//
//
///// Texte
$fs-title-1: rem(48);
$fs-title-2: rem(30);
$fs-subtitle: rem(20);
$fs-text: rem(16);
$fs-small: rem(12);
//
///// Font family
//
$ff-title: 'Montserrat', sans-serif;
$ff-text: 'Source Sans Pro', sans-serif;
//
///// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
//
////DONE