body {
  font-weight: $fw-regular;
  font-family: $ff-text;
  font-size: $fs-text;
  color: $black;

  background: $white;

  margin: 0;
  padding: 0;

  position: relative;
  overflow-x: hidden;
}

.noScroll {
  overflow: hidden;
}

//DONE
