footer {
  background-color: $black;
  color: $white;
}

// - - - - MAP - - - -

footer .footer-map {
  width: 100%;
  max-height: 360px;
  overflow: hidden;
}

footer .footer-map img {
  width: 100%;
}

// - - - - LOCATION - - - -

footer .footer-location {
  padding: 60px 0;
}

footer .footer-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-icons {
  fill: $yellow;

  color: $yellow;
  font-size: rem(24);

  display: flex;
  justify-content: center;
}

footer .footer-hightlight {
  font-weight: $fw-bold;
  font-size: rem(20);
  //font-family: $ff-title;
}

// - - - - - - - - - GÉNÉRAL - - - - - - - -

footer .footer-general {
  max-width: 215px;
}

footer .footer-general > div:not(:last-child) {
  margin-bottom: 25px;
}

// - - - - - - - - - HORAIRE - - - - - - - -

footer .footer-schedule {
  width: 380px;
}

.footer-hours div.row {
  display: flex;
  justify-content: space-between;
}

.footer-hours .footer-hightlight {
  font-size: $fs-text;
}

// - - - - - - - - - INFOLETTRE - - - - - - - -

footer .footer-social {
  width: 300px;
}

footer .footer-social form {
 margin: 30px 0;
}

footer .footer-social  button {
  font-size: $fs-small;
  padding: 12px;

  display: block;
}

footer .footer-social .footer-socialNetworks svg {
  fill: $white;

  transition: $global-transition;
}

footer .footer-social .footer-socialNetworks svg:hover {
  fill: $yellow;

  transition: $global-transition;
}

footer .footer-social .footer-socialNetworks a:not(:first-child) {
  margin-left: 12px;
}

// - - - - COPPYRIGHT - - - -

footer .copyright {
  font-size: $fs-small;

  margin-top: 60px;

  text-align: center;

  color: $white;
}

// - - - - MÉDIAS - - - -

@media screen and (max-width: $vw-tablet) {

  footer .footer-col > div {
    width: 48%;
  }

  footer .footer-col > div:last-of-type {
    margin-top: 30px;
  }

  footer .footer-social {
    margin-left: 33px;
  }

}

@media screen and (max-width: $vw-phone) {

  footer .footer-col {
    flex-direction: column;
  }

  footer .footer-col > div {
    width: 100%;
  }

  footer .footer-schedule {
    margin-top: 25px;

  }

  footer .footer-schedule .footer-icons {
    max-width: 24px;
  }

  footer .footer-schedule > div > div:last-of-type {
    margin-left: 12px;
  }

  footer .footer-social > div:nth-child(2) {
   width: 80%;
  }

}