
// Input

input:not([type="checkbox"]), textarea {
  background-color: $light-black;
  border: $light-black 1px solid;

  font-family: $fs-text;
  font-weight: $fw-regular;
  font-size: $fs-small;
  color: $white;

  padding: 12px;
  margin: 0;

  transition: $global-transition;
}

input::placeholder, textarea::placeholder {
  color: $white;
  opacity: 0.5;
  font-style: italic;
}

input:focus {
  outline: none;
  //border: $red 1px solid;
  //
  //transition: $global-transition;
}

textarea:focus {
  outline: none;
  //border: $red 1px solid;
  //
  //transition: $global-transition;
}

label {
  cursor: pointer;
}