a {
  text-decoration: none;
  color: $black;
}

a.button, button {
  border: 1px solid $red;
  padding: 15px 35px;
  margin: 0;
  //
  font-family: $ff-title;
  font-weight: $fw-light;
  font-size: $fs-text;
  color: $red;
  //
  text-transform: uppercase;

  transition: $global-transition;

  display: inline-block;

  border-radius: 0;

  background-color: transparent;

  cursor: pointer;
}

a.button:hover, button:hover {
  border: 1px solid $yellow;
  color: $yellow;
  background-color: transparent;
  transition: $global-transition;
}

a.button-reverse {
  border: 1px solid $red;
  background-color: $red;
  padding: 15px 35px;
  margin: 0;
  //
  font-family: $ff-title;
  font-weight: $fw-light;
  font-size: $fs-text;
  color: $white;
  //
  text-transform: uppercase;

  transition: $global-transition;

  display: inline-block;

  border-radius: 0;

  cursor: pointer;
}

a.button-reverse:hover {
  border: 1px solid $yellow;
  background: $yellow;
  color: $white;

  transition: $global-transition;
}

a:focus, button:focus {
  outline: none;
}



.hero a.button, footer a.button, button {
  background: $red;
  color: $white;
}

.hero a.button:hover, footer a.button:hover, button:hover {
  background: $yellow;
  color: $white;
}