.header-nav {
  position: absolute;

  z-index: 99;

  height: 80px;
  width: 100%;

  color: $white;
  background: transparent;
  //
  //position: fixed;

  transition: $global-transition;
}

.header-nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav svg {
  width: 110px;
  height: 32px;

  fill: $white;
  transition: $global-transition;
}

.header-nav a {
  color: $white;
}

.header-nav nav {
  font-weight: $fw-light;
}

.header-nav nav .mobile-nav {
  display: none;
}

.header-nav nav ul {
  display: flex;

  list-style: none;
}

.header-nav nav ul li .language-arrow {
  margin-left: 5px;
}

.header-nav nav ul > li {
  display: flex;
  align-items: center;
}

.header-nav nav ul > li:not(:nth-child(1))::before {
  content: '';
  display: block;
  width: 1px;
  height: 50px;

  margin: auto 25px;

  background: $white;
  opacity: 0.1;
}

// MENU NORMAL ET MENU LANGUES

.desktop-nav {
  display: flex;
}

.mobile-nav > div {
  display: flex;
  align-items: center;
}

.desktop-nav .menu-navigation-container li:last-of-type:after {
  content: '';
  display: block;
  background: $white;
  opacity: 0.1;
  width: 1px;
  height: 50px;

  margin: auto 25px;
}

.menu-menu-langues-container {
  position: relative;

  padding: 0;
}

.menu-menu-langues-container > ul {
  padding: 0;
}

.menu-menu-langues-container .sub-menu {
  user-select: none;
  opacity: 0;

  position: absolute;

  top: 48px;
  right: -12px;

  transition: $global-transition;

  padding: 25px 25px;
}

.menu-menu-langues-container:hover .sub-menu {
  user-select: auto;
  opacity: 1;

  transition: $global-transition;
}

.desktop-nav .menu-menu-langues-container {
  display: flex;
}

.destop-nav .menu-menu-langues {
  padding: 0;
  margin-top: 32px;
}

.destop-nav .menu-menu-langues-container ul {
  padding: 0;
}

// FOND BLANC

.nav-white {
  background-color: $white;
  color: $black;
}

.header-nav.nav-white .logo {
  fill: $black;
  transition: $global-transition;
}

.nav-white a {
  color: $black;
}

.nav-white nav ul > li:not(:nth-child(1))::before {
  background: $black;
}

.nav-white .desktop-nav .menu-navigation-container li:last-of-type:after {
  background: $black;
}

// MENU MOBILE

.mobile-nav .icon-hamburger {
  margin: 0 25px;

  cursor: pointer;
}

.mobile-nav-fullpage {
  position: fixed;
  z-index: 1;

  background: $white;
}

.mobile-nav-fullpage > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: $black;
  text-align: center;
  font-size: rem(48);
  font-family: $ff-text;
  font-weight: $fw-light;
}

.mobile-nav-fullpage ul {
  display: flex;
  flex-direction: column;

  padding: 0;

  margin: 0;
}

.mobile-nav-fullpage ul li {
  list-style: none;

  margin: 40px 0;
}

.sub-menu > li > a:before{

  content:"\00a0"
}

// - - - - MÉDIAS - - - -

@media screen and (max-width: $vw-tablet) {

  .header-nav nav .desktop-nav {
    display: none;
  }

  .header-nav nav .mobile-nav {
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .menu-menu-langues-container .sub-menu {
    top: 48px;
  }

  .header-nav nav .mobile-nav {
    display: flex;
  }

}

@media screen and (max-width: $vw-phone) {

  .mobile-nav-fullpage {
    font-size: rem(36);
  }

}
