section.index {
  //height: 100vh;

  padding-top: 60px;

  overflow: hidden;
}

section button {
  margin: 45px auto 60px auto;
}

.section-button {
  text-align: center;
}

section:last-of-type {
  padding-bottom: 60px;
}

// - - - - MÉDIAS - - - -

@media screen and (max-width: $vw-tablet) {

  section.index, section {
    height: auto;
  }

}

@media screen and (max-width: $vw-phone) {


}